html,
body{
    height: 100%;
    scroll-behavior: smooth;
}

.jumbotron{
    margin-top:5px;
}
#paineis-sobre {
    margin-top: 10px;
}

#depoimentos-dos-clientes{
    background-color:#0275d8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    color: white;
    margin-bottom: 0;
    
}

 #grupo-radio,
 #select{
    width:50%;
    display: inline-block;
    vertical-align: middle;
}

#grupo-radio .radio :first-child{
    margin-top: 0
}

footer{
    background-color: #333;
    color: #FFF;
    padding: 20px;
    margin-top:5px;
    
}

footer address:last-child{
    margin-bottom: 0;
}

header {
    background-image: url(img/castelo.jpg);
    height: 100%;
    background-size: cover;
    background-position: top center;
}
header h1{
    margin-top: 0;
    margin-bottom: 0;
}

#topcasafina-banner{
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.513);
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: 0.5s;
    
}

@media(min-width: 768px){

}
#paineis-sobre{
    margin-top: 0;
    
}
